#title {
    -webkit-text-stroke-width: 4px;
    -webkit-text-stroke-color: #0f52a9;
    font-size: 65px;
    color: rgb(47, 0, 255);
    font-family: Comic Sans MS;
    background-color: antiquewhite;
}
body {
    background-image: url("snowmanbg.avif");
    overflow: hidden;
}
.square {
    border-radius: 50000px;
    height: 100px;
    width: 100px; 
    background-color: rgb(255, 255, 255);   
    margin-bottom: -10px;
    border: 4px solid rgb(0, 0, 0);
}
#head{
    background-image: url("head.jpeg");
    background-size: contain;
}
#snowball-body {
    z-index: 1; 
}

#snowball-head {
    z-index: 2; 
}
#up{
    color: rgb(255, 255, 255);
    background-color: #18ca5f; 
    cursor: pointer;
    border: 4px dotted green;
    font-family: Comic Sans MS;
    font-size: 32px;
    box-shadow: 10px 10px greenyellow;
    border-radius: 10px;
}
#up:hover{
    background-color: #0487383e;
    box-shadow: 10px 10px #0487383e;
}
#down{
    color: rgb(255, 255, 255);
    background-color: #ca1818; 
    cursor: pointer;
    border: 4px dotted red;
    font-family: Comic Sans MS;
    font-size: 32px;
    box-shadow: 10px 10px red;
    border-radius: 10px;
}
#down:hover{
    background-color: #8704043e;
    box-shadow: 10px 10px #8704043e;
}
#left{
    color: rgb(255, 255, 255);
    background-color: #1821ca; 
    cursor: pointer;
    border: 4px dotted rgb(25, 109, 161);
    font-family: Comic Sans MS;
    font-size: 32px;
    box-shadow: 10px 10px blue;
    border-radius: 10px;
}
#left:hover{
    background-color: #040f873e;
    box-shadow: 10px 10px #2004873e;
}
#right{
    color: rgb(255, 255, 255);
    background-color: #b6b325;
    cursor: pointer; 
    border: 4px dotted yellow;
    font-family: Comic Sans MS;
    font-size: 32px;
    box-shadow: 10px 10px yellow;
    border-radius: 10px;
}
#right:hover{
    background-color: #5d87043e;
    box-shadow: 10px 10px #6687043e;
}
#change{
    color: rgb(255, 255, 255);
    background-color: #6b6363; 
    cursor: pointer;
    border: 4px dotted rgba(211, 195, 195, 0.576);
    font-family: Comic Sans MS;
    font-size: 32px;
    box-shadow: 10px 10px grey;
    border-radius: 10px;
}
#change:hover{
    background-color: #657484ec;
    box-shadow: 10px 10px #657484ec;
    color: rgb(255, 255, 255);
}
.container {
    display: flex;
    gap: 20px;
}
#big{
    color: rgb(255, 255, 255);
    background-color: #b67a25;
    cursor: pointer; 
    border: 4px dotted rgb(255, 166, 0);
    font-family: Comic Sans MS;
    font-size: 32px;
    box-shadow: 10px 10px rgb(255, 187, 0);
    border-radius: 10px;
}
#big:hover{
    background-color: #5d87043e;
    box-shadow: 10px 10px #6687043e;
}
#small{
    color: rgb(255, 255, 255);
    background-color: #b67a25;
    cursor: pointer; 
    border: 4px dotted rgb(255, 166, 0);
    font-family: Comic Sans MS;
    font-size: 32px;
    box-shadow: 10px 10px rgb(255, 187, 0);
    border-radius: 10px;
}
#small:hover{
    background-color: #5d87043e;
    box-shadow: 10px 10px #6687043e;
}
#base-text-formating {
    color: rgb(219, 251, 255);
    font-family: Comic Sans MS;
    font-size: 25px;
}